.entriearea{font-size: 200%;
 /*src: url("font/NotoSansCJKtc-Light.otf"); */
 	font-weight: 100;
 	font-family: "Microsoft JhengHei";
}

.center{text-align: center;}

.toolbar{
	/*background-color: #5B5B5B;*/
}

.maininput{
	border-radius: 0px;
	border: black 7px solid;
	background-color: black;
	color: white;
	font-weight: 100;
	width: 50%;
}

.counter {
	font-family: courier;
}

.hl {
	color:red;
}

.space {
	height: 8px;
}

.resultlist{
	border-radius: 0px;
	border: white 3px solid;/*#333*/
	background-color: #5B5B5B;
	color: white;
	word-wrap:break-word;
	max-width:250px;
	min-width:250px;
}

a{
	color:black;
	cursor: pointer;
}
a:hover{
	color: #5B5B5B; 
}

.defbox{
	cursor: pointer;
}

.title{
	font-size: 150%;
	background-color:#5B5B5B;
	color:white;
}

#checkedfield {
	color:white;
	background-color:black;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:white;
    padding:5px 10px 10px 10px;
    font-size:16px;
    width:50px;height:50px;
    font-size: 100%;
    border-radius: 100%;
    color:black;
    font-weight: 100;
    border:black 1px dashed;
}

.highlight{
	background-color: black;
	color: white;
}

