.entriearea{font-size: 200%;
 /*src: url("font/NotoSansCJKtc-Light.otf"); */
 	font-weight: 100;
 	font-family: "Microsoft JhengHei";
}

.center{text-align: center;}

.toolbar{
	background-color: #5B5B5B;
}

.maininput{
	border-radius: 0px;
	border: black 7px solid;
	background-color: black;
	color: white;
	font-weight: 100;
	width: 50%;
}

.counter {
	font-family: courier;
}

.resultlist{
	border-radius: 0px;
	border-radius: 0px;
	border: #333 3px solid;
	background-color: #5B5B5B;
	color: white;
}

a{
	color:black;
	cursor: pointer;
}
a:hover{
	color: #5B5B5B; 
}

.defbox{
	cursor: pointer;
}

.title{
	font-size: 150%;
	background-color:black;
	color:white;
}

#checkedfield {
	color:white;
	background-color:black;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:#5B5B5B;
    padding:15px 10px 10px 10px;
    font-size:16px;
    width:70px;height:70px;
    font-size: 100%;
    border-radius: 100%;
    color:white;
    font-weight: 100;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#bbb;
}

